div.vid-container {
  width: 30%;
  margin-bottom: 30px;
}

div.vid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.vid-title {
  background-color: #133;
  color: #aad;
  margin-top: -4px;
  padding: 4px;
}

button.play-btn {
  border: none;
  padding: 15px;
  background-color: #588;
  color: #aad;
  transition: all .4s ease-in;
}

.play-btn:hover {
  background-color: #311;
}