<div>
  <button class="play-btn" [hidden]="playing" (click)="play()">Play</button>
</div>
<div class="vid-row">
	<div class="vid-container">
		<video #myVideo style="width: 100%; object-fit: contain;"></video>
		<div class="vid-title" [hidden]="!playing" title="This is the untouched web cam image.">Original</div>
  </div>
  <div class="vid-container" *ngFor="let vid of vids">
    <div>
      <app-rm-vid [vid]="vid"></app-rm-vid>
    </div>
    <div class="vid-title">
      {{vid.title}}
    </div>
  </div>
</div>

